<sigml>
                         <hns_sign gloss="di">
                            <hamnosys_manual>
                            <hamfinger23spread/>
<hamthumbacrossmod/>
<hambetween/>
<hamfinger23/>
<hamthumbacrossmod/>
<hamextfingerd/>
<hampalmd/>
<hamchest/>
<hamlrat/>
<hamreplace/>
<hamfinger23spread/>
<hamthumbacrossmod/>
<hambetween/>
<hamfinger23/>
<hamthumbacrossmod/>
<hammiddlefinger/>
<hamfingerbendmod/>
<hamextfingerd/>
<hampalmd/>
<hamreplace/>
<hamfinger23spread/>
<hamthumbacrossmod/>
<hambetween/>
<hamfinger23/>
<hamthumbacrossmod/>
<hamindexfinger/>
<hamfingerbendmod/>
<hamextfingerd/>
<hampalmd/>
<hamreplace/>
<hamfinger23spread/>
<hamthumbacrossmod/>
<hambetween/>
<hamfinger23/>
<hamthumbacrossmod/>
<hammiddlefinger/>
<hamfingerbendmod/>
<hamextfingerd/>
<hampalmd/>
<hamreplace/>
<hamfinger23spread/>
<hamthumbacrossmod/>
<hambetween/>
<hamfinger23/>
<hamthumbacrossmod/>
<hamindexfinger/>
<hamfingerbendmod/>
<hamextfingerd/>
<hampalmd/>
                            </hamnosys_manual>
                        </hns_sign>
                    </sigml>
                    